:root {
    --color1: #9f519c;
    --color2: #f9d73e;
    --color3: #15b3ab;
    --color4: #f78c4e;
    --font1: white;
    --font2: black;
    --font3: grey;
}

@font-face {
    font-family: 'San Francisco';
    src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff');
}

body {
    font-family: 'San Francisco';
}

header {
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.9)), url('../images/banner.webp');
    background-size: cover;
    background-position: center;
    position: relative;
}

header img {
    width: 150px;
    margin-bottom: 20px;
}

#hambutton {
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--font2);
    cursor: pointer;
    text-align: right;
    padding: .25rem 2vw;
}

.nav-menu {
    display: none;
    list-style-type: none;
    width: 100%;
    padding: 1rem;
}

.nav-menu.open {
    display: flex;
    flex-direction: column;
}

.nav-menu a {
    display: block;
    text-decoration: none;
    list-style-type: none;
    color: var(--font2);
    text-align: center;
    font-size: 2rem;
    margin-right: 30px;
    margin-bottom: 25px;
}

.nav-menu .active {
    color: var(--color1);
}

.nav-menu a:hover {
    color: var(--color1);
}

#hambutton::before {
    content: '\2630';
}

#hambutton.open::before {
    content: '\2716';
}

.main-container {
    background-color: var(--color3);
    display: grid;
    grid-template-areas: 
        'mission-photo'
        'mission-text'
        'vision-photo'
        'vision-text';
    grid-template-columns: 1fr;
    padding: 20px 0 40px 0;
}

.main-box {
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.main-text {
    background-color: var(--font1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    padding: 70px;
}

.main-text h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.main-photo {
    background-size: cover;
    background-position: center;
    height: 300px;
}

.mission-photo {
    background-attachment: fixed;
    background-image: url(../images/jesus_rock.webp);
    grid-area: mission-photo;
}

.vision-photo {
    background-attachment: fixed;
    background-image: url(../images/mission_nature.jpg);
    grid-area: vision-photo;
}

.mission-text {
    grid-area: mission-text;
}

.vision-text {
    grid-area: vision-text;
}

.acronym {
    display: grid;
    grid-template-areas: 
        'acronym-r acronym-i acronym-s acronym-e'
        '. button button .';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    place-items: center;
    background-color: var(--font1);
    padding: 40px 20px 40px 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    margin-top: 40px;
    gap: 5px;
}

.main-container {
    display: grid;
    grid-template-areas: 
        'mission-photo'
        'mission-text'
        'vision-photo'
        'vision-text'
        'acronym';
    grid-template-columns: 1fr;
    padding: 20px 0 40px 0;
}

.acronym-r, .acronym-i, .acronym-s, .acronym-e {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    width: 80px;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}

.acronym-r {
    background-color: var(--color1);
    grid-area: acronym-r;
}

.acronym-i {
    background-color: var(--color2);
    grid-area: acronym-i;
}

.acronym-s {
    background-color: var(--color3);
    grid-area: acronym-s;
}

.acronym-e {
    background-color: var(--color4);
    grid-area: acronym-e;
}

.acronym-r h2, .acronym-i h2, .acronym-s h2, .acronym-e h2 {
    font-size: 1.5rem;
}

.acronym-r p, .acronym-i p, .acronym-s p, .acronym-e p {
    font-size: .75rem;
}

.join-button {
    margin-top: 40px;
    padding: 10px 20px;
    background-color: var(--color4);
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: var(--font2);
    grid-area: button;
}

.join-button:hover {
    background-color: rgba(58, 62, 73, 0.9);
    color: var(--font1);
}

.class-schedule {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 50px;
}

.toggle-button1, .toggle-button2, .toggle-button3 {
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.5s ease;
    padding: 20px 0 20px 0;
    background-color: rgba(159, 81, 156, 0.5);
    border: 3px solid var(--color1);
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.toggle-button1:hover, .toggle-button2:hover, .toggle-button3:hover {
    background-color: rgba(159, 81, 156, 1);
}

.toggle-content1, .toggle-content2, .toggle-content3 {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    padding: 0 1em;
}

.toggle-content1.expanded, .toggle-content2.expanded, .toggle-content3.expanded {
    max-height: 3000px;
    padding: 0.5em 1em;
}

.toggleContentCard {
    display: grid;
    grid-template-areas: 
        "image card-text card-text";
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--color1);
    border-radius: 8px;
    margin-bottom: 20px;
    max-height: 120px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.toggleContentCard img {
    border: 2px solid var(--font2);
    grid-area: image;
}

.toggleContentCard h2 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-area: card-text;
}

.time-events {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

.time, .announcements {
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    border-radius: 8px;
    margin: 0;
    padding: 0;
}

.time h2, .announcements h2 {
    margin: 0;
    padding: 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    padding-top: 15px;
    font-size: 2rem;
    background-color: var(--color3);
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.time li, .announcements li {
    font-size: 1.2rem;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 10px;
    background-color: var(--color1);
    color: white;
    font-size: 1.2rem;
    border: 1px solid black;
}

footer p {
    margin: 0;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-facebook {
   background: white;
   color: black;
   border-radius: 50%;
   border: 2px solid black;
}

.fa-facebook:hover {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
   background: white;
   color: black;
   border-radius: 50%;
   border: 2px solid black;
}

.fa-twitter:hover {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
   background: white;
   color: black;
   border-radius: 50%;
   border: 2px solid black;
}

.fa-instagram:hover {
    background: #125688;
    color: white;
}

.footer-contact {
    display: none;
}

.footer-media {
    margin-bottom: 20px;
}

@media screen and (min-width: 1150px) {

    main {
        background-attachment: fixed;
    }

    header img {
        width: 200px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #hambutton {
        display: none;
    }

    .nav-menu {
        padding: 0;
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: auto;
        border-bottom: 2px solid var(--color2);
        border-top: 2px solid var(--color2);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }

    .fixed-nav {
        position: fixed;
        list-style-type: none;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color: var(--font1);
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-direction: row;
        border-bottom: 2px solid var(--color2);
        border-top: 2px solid var(--color2);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }

    .fixed-nav a {
        border-top: 4px solid transparent;
        margin: 1px 15px 5px;
        padding: 10px 30px 80px 30px;
        font-size: 1.5rem;
        padding: .3rem 15px;
        text-decoration: none;
        list-style-type: none;
        color: var(--font2);
    }

    .fixed-nav a:hover {
        border-top-color: var(--color1);
    }

    .fixed-nav .active {
        border-top: 4px solid var(--color1);
        color: var(--color1);
    }
    
    .nav-menu a {
        border-top: 4px solid transparent;
        margin: 1px 15px 5px;
        padding: 10px 30px 15px 30px;
        font-size: 1.5rem;
        padding: .3rem 15px;
    }

    .nav-menu a:hover {
        border-top-color: var(--color1);
    }

    .nav-menu .active {
        border-top: 4px solid var(--color1);
        color: var(--color1);
    }

    .main-container {
        grid-template-areas: 
            'mission-photo mission-text'
            'vision-text vision-photo'
            'acronym acronym';
        grid-template-columns: 1fr 1fr;
    }

    .main-text h2 {
        font-size: 3rem;
    }

    .main-photo {
        height: 400px;
    }

    .mission-photo {
        background-size: 1000px;
        background-repeat: no-repeat;
        background-position: left center;
    }

    .vision-photo {
        background-size: 800px;
        background-repeat: no-repeat;
        background-position: right center;
    }

    .vision-text {
        max-height: 400px;
        overflow: hidden;
    }

    .acronym {
        grid-area: acronym;
        background-color: var(--font1);
        padding: 50px 20px 50px 20px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.5);
        margin-top: 40px;
    }

    .acronym-r, .acronym-i, .acronym-s, .acronym-e {
        padding: 15px;
        margin: 0;
        width: 80%;
    }

    .acronym-r h2, .acronym-i h2, .acronym-s h2, .acronym-e h2 {
        font-size: 4rem;
    }
    
    .acronym-r p, .acronym-i p, .acronym-s p, .acronym-e p {
        font-size: 1.5rem;
    }

    .block {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .toggleContentCard {
        max-height: 220px;
        max-width: 600px;
    }

    .toggleContentCard img {
        width: 200px;
        height: 200px;
    }

    .time-events {
        grid-template-columns: 1fr 1fr;
    }

    .time li, .announcements li {
        font-size: 1.6rem;
    }

    .modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .modal-content {
        background: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        text-align: center;
        max-width: 500px;
    }
    
    .modal-content button {
        margin-top: 15px;
        padding: 8px 12px;
        border: none;
        font-size: 1.2rem;
        border-radius: 4px;
        color: var(--font2);
        background-color: var(--color1);
        cursor: pointer;
    }
    
    .modal-content p {
        color: black;
        font-size: 1.2rem;
    }
    
    .modal-content button:hover {
        background-color: rgba(58, 62, 73, 0.9);
        color: var(--font1);
    }

    footer {
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 1.5rem;
    }

    .footer-media {
        align-content: center;
    }
    
    .footer-address {
        align-content: center;
    }

    .footer-contact {
        display: block;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 1600px) {

    main {
        padding: 0 100px 50px 100px;
    }

    header img {
        width: 300px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .mission-photo {
        background-size: 1500px;
        background-repeat: no-repeat;
        background-position: left center;
    }

    .vision-photo {
        background-size: 1500px;
        background-repeat: no-repeat;
        background-position: right center;
    }
}