:root {
    --color1: #9f519c;
    --color2: #f9d73e;
    --color3: #15b3ab;
    --color4: #f78c4e;
    --font1: white;
    --font2: black;
    --font3: grey;
}

@font-face {
    font-family: 'San Francisco';
    src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff');
}

body {
    font-family: 'San Francisco';
}

main {
    background-color: var(--color3);
    padding-bottom: 50px;
}

header {
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.9)), url('../images/banner.webp');
    background-size: cover;
    background-position: center;
    position: relative;
}

header img {
    width: 150px;
    margin-bottom: 20px;
}

#hambutton {
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--font2);
    cursor: pointer;
    text-align: right;
    padding: .25rem 2vw;
}

.nav-menu {
    display: none;
    list-style-type: none;
    width: 100%;
    padding: 1rem;
}

.nav-menu.open {
    display: flex;
    flex-direction: column;
}

.nav-menu a {
    display: block;
    text-decoration: none;
    list-style-type: none;
    color: var(--font2);
    text-align: center;
    font-size: 2rem;
    margin-right: 30px;
    margin-bottom: 25px;
}

.nav-menu .active {
    color: var(--color1);
}

.nav-menu a:hover {
    color: var(--color1);
}

#hambutton::before {
    content: '\2630';
}

#hambutton.open::before {
    content: '\2716';
}

.main-container {
    display: grid;
    grid-template-areas: 
        'mission-photo'
        'mission-text'
        'vision-photo'
        'vision-text';
    grid-template-columns: 1fr;
    padding: 20px 0 40px 0;
}

.main-box {
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.main-text {
    background-color: var(--font1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    padding: 70px;
}

.main-text h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.main-photo {
    background-size: cover;
    background-position: center;
    height: 200px;
}

.mission-photo {
    background-attachment: fixed;
    background-image: url(../images/jesus_rock.webp);
    grid-area: mission-photo;
}

.vision-photo {
    background-attachment: fixed;
    background-image: url(../images/heart.webp);
    grid-area: vision-photo;
}

.mission-text {
    grid-area: mission-text;
}

.vision-text {
    grid-area: vision-text;
}

.acronym {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--font1);
    padding: 20px 20px 40px 20px;
}

.acronym-r, .acronym-i, .acronym-s, .acronym-e {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    margin-right: 8px;
    width: 80px;
}

.acronym-r {
    background-color: var(--color1);
}

.acronym-i {
    background-color: var(--color2);
}

.acronym-s {
    background-color: var(--color3);
}

.acronym-e {
    background-color: var(--color4);
}

.acronym-r h2, .acronym-i h2, .acronym-s h2, .acronym-e h2 {
    font-size: 1.5rem;
}

.acronym-r p, .acronym-i p, .acronym-s p, .acronym-e p {
    font-size: .75rem;
}

.join-us-button {
    display: flex;
    justify-content: center;
    background-color: var(--font1);
    box-shadow: 0 4px 2px rgba(0,0,0,0.5);
}

.join-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--color4);
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: var(--font2);
}

.join-button:hover {
    background-color: rgba(58, 62, 73, 0.9);
    color: var(--font1);
}

.block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1em;
    background: #f4f4f4;
    border: 1px solid #ddd;
    margin-top: 10px;
}

.toggle-button1, .toggle-button2, .toggle-button3 {
    background: #007acc;
    color: var(--font1);
    border: none;
    padding: 0.5em 1em;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.4s ease;
}

.toggle-button1:hover, .toggle-button2:hover, .toggle-button3:hover {
    background: #005f99;
}

.toggle-button1.expanded, .toggle-button2.expanded, .toggle-button3.expanded {
    transform: rotate(45deg);
}

.toggle-content1, .toggle-content2, .toggle-content3 {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    padding: 0 1em;
}

.toggle-content1.expanded, .toggle-content2.expanded, .toggle-content3.expanded {
    max-height: 3000px;
    padding: 0.5em 1em;
}

.toggleContentCard {
    background-color: var(--font1);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 10px;
    background-color: var(--color1);
    color: white;
    font-size: 1.2rem;
    border: 1px solid black;
}

footer p {
    margin: 0;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-facebook {
   background: white;
   color: black;
   border-radius: 50%;
   border: 2px solid black;
}

.fa-facebook:hover {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
   background: white;
   color: black;
   border-radius: 50%;
   border: 2px solid black;
}

.fa-twitter:hover {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
   background: white;
   color: black;
   border-radius: 50%;
   border: 2px solid black;
}

.fa-instagram:hover {
    background: #125688;
    color: white;
}

.footer-contact {
    display: none;
}

.footer-media {
    margin-bottom: 20px;
}

@media screen and (min-width: 720px) {

    main {
        background-attachment: fixed;
    }

    header img {
        width: 200px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #hambutton {
        display: none;
    }

    .nav-menu {
        padding: 0;
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: auto;
        border-bottom: 2px solid var(--color2);
        border-top: 2px solid var(--color2);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }

    .fixed-nav {
        position: fixed;
        list-style-type: none;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color: var(--font1);
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-direction: row;
        border-bottom: 2px solid var(--color2);
        border-top: 2px solid var(--color2);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }

    .fixed-nav a {
        border-top: 4px solid transparent;
        margin: 1px 15px 5px;
        padding: 10px 30px 80px 30px;
        font-size: 1.5rem;
        padding: .3rem 15px;
        text-decoration: none;
        list-style-type: none;
        color: var(--font2);
    }

    .fixed-nav a:hover {
        border-top-color: var(--color1);
    }

    .fixed-nav .active {
        border-top: 4px solid var(--color1);
        color: var(--color1);
    }
    
    .nav-menu a {
        border-top: 4px solid transparent;
        margin: 1px 15px 5px;
        padding: 10px 30px 15px 30px;
        font-size: 1.5rem;
        padding: .3rem 15px;
    }

    .nav-menu a:hover {
        border-top-color: var(--color1);
    }

    .nav-menu .active {
        border-top: 4px solid var(--color1);
        color: var(--color1);
    }

    .main-container {
        grid-template-areas: 
            'mission-photo mission-text'
            'vision-text vision-photo';
        grid-template-columns: 1fr 1fr;
    }

    .main-text h2 {
        font-size: 3rem;
    }

    .main-photo {
        height: 400px;
    }

    .vision-photo {
        background-size: 800px;
        background-repeat: no-repeat;
        background-position: right;
    }

    .acronym-r, .acronym-i, .acronym-s, .acronym-e {
        padding: 15px;
        margin-right: 15px;
        width: 150px;
    }

    .acronym-r h2, .acronym-i h2, .acronym-s h2, .acronym-e h2 {
        font-size: 4rem;
    }
    
    .acronym-r p, .acronym-i p, .acronym-s p, .acronym-e p {
        font-size: 1.5rem;
    }

    footer {
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 1.5rem;
    }

    .footer-media {
        align-content: center;
    }
    
    .footer-address {
        align-content: center;
    }

    .footer-contact {
        display: block;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 1600px) {

    main {
        padding: 0 100px 50px 100px;
    }

    header img {
        width: 300px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .mission-photo {
        background-image: url(../images/jesus_rock.webp);
        background-size: contain;
        background-position: right 75% center;
    }
    
    .vision-photo {
        background-image: url(../images/heart_large.webp);
        background-position: right 25% center;
        background-size: contain;
    }
}