body {
    font-family: "Roboto", sans-serif;
    background-color: #F8F9FA;
    margin: 0;
    padding: 0;
    color: #333333;
}

header {
    display: flex;
    justify-content: center;
    color: #e8ecef;
    background-color: #495057;
    padding: 1.5em;
    font-size: 1.5em;
}

header .portrait {
    width: 100px;
    height: 100px;
    margin-right: 1em;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    justify-content: center;
    background-color: black;
    text-align: center;
    border-top: 1px solid #F79439;
    border-bottom: 1px solid #F79439;
}

nav a {
    padding: 20px;
    margin-right: 10px;
    text-decoration: none;
    background-color: black;
    color: #F1F1F2;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #F79439;
    color: #2C2F33;
}

nav a:active {
    background-color: #F79439;
    color: #2C2F33;
    font-weight: bold;
}

#hamburger-menu {
    display: none;
}

main {
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-template-rows: auto;
    grid-gap: 1em;
}

section {
    background-color: #e8ecef;
    border: 1px solid #495057;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

section h2 {
    background-color: white;
    color: black;
    text-align: center;
    margin: 0;
    padding: .5em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #F79439;
}

section ol {
    list-style-type: disc;
}

.img-section {
    display: flex;
    justify-content: center;
}

figure {
    text-align: center;
}

figcaption {
    font-style: italic;
    color: grey;
}

section .pirates-logo {
    padding: 30px;
    max-width: 80%;
    height: auto;
    margin: 0 auto;
}

section:nth-child(3) {
    grid-column: span 2;
}

#program-classes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: auto;
    gap: 20px;
    padding: 20px;
}

#button-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    background-color: black;
    color: white;
    border: 2px solid #F79439;
    padding: 10px 40px;
    margin: 5px;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #FF9E67;
}

h3 {
    padding: 20px;
    text-align: center;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.completed h3 {
    background-color: #495057;
    border: 1px solid #FF9E67;
}

.incomplete h3 {
    background-color: #F8F9FA;
    color: black;
    border: 1px solid #FF9E67;
}

footer {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 20px 0 40px 0;
    color: white;
    background-color: black;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width:700px) {
    #hamburger-menu {
        display: block;
        width: 100%;
        height: 50px;
        background-image: url(../images/hamburger-menu-icon-white.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-color: black;
        cursor: pointer;
    }

    header {
        font-size: 1em;
    }

    nav {
        display: none;
        position: absolute;
        top: 190px;
        left: 0;
        width: 100%;
        text-align: center;
        padding-top: 50px;
        background-color: black;
    }

    nav.open {
        display: block;
    }

    nav a {
        display: block;
        padding: 15px 0;
        color: white;
        font-size: 1.5em;
        text-decoration: none;
        margin: 10px;
    }

    main {
        grid-template-columns: 1fr;
    }

    section:nth-child(3) {
        grid-column: span 1;
    }
    
}